<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head') %>
<body>
    <div class="movies">
        <%- include('./partials/header') %>
        <div class="pelis">
            <form action="/movies/add" method="post">
                Nombre de la peli: <input type="text" name="titulo" id=""> <br>
                Rating: <input type="number" name="rating" id=""> <br>
                Premios: <input type="text" name="awards" id=""> <br>
                Fecha de estreno: <input type="date" name="release" id=""> <br>
                Duración: <input type="number" name="length" id=""> <br>
                Genero: <br> <select name="genre_id" id=""> <br>
                    <% generos.forEach(genero => { %>
                        <option value="<%=genero.id%>"> <%= genero.name %> </option> <br>
                        <% }); %>
                    </select><br>
                    Actores: <select name="actores" id="" multiple>
                        <% actores.forEach(actor => { %>
                            <option value="<%= actor.id %>"> <%= actor.first_name %> <%= actor.last_name %> </option> <br>
                            <% }); %>
                        </select><br>
                        <button type="submit">Submit</button>
            </div>
        </div>
</form>
</body>
</html>