<!DOCTYPE html>
<html>
  <%- include('./partials/head') %><body>
    <ul>
      <%- include('./partials/header') %>
      <div class="pelis">
      <div class="todo">
          <li>Título: <%= specificGenre.name %></li> <br>
          <li>Ranking: <%= specificGenre.ranking %></li> <br>
          <li>Activo: <%= specificGenre.active %></li> <br>
            Pelis de este género en nuestra base de datos: <br>
          <li> <br>
            <% movies.forEach(movie => { %>
              <% if (movie.GenreId == specificGenre.id) { %>
                <a href="/movies/detail/<%= movie.id %>"><%= movie.title %> <br></a>
              <% } %>
            <% }); %>
          </li>
          </li>
        </div>
      </div>
  </body>
</html>