<!DOCTYPE html>
<html>
  <head>
    <%- include('./partials/head') %>
    <body>
      <%- include('./partials/header') %>
      <div class="pelis">
    <div class="todo">
      <p>Pelis recomendadas</p> 
        <% recommend.forEach(movie => { %>
          <a href="/movies/detail/<%=movie.id %>"><p><%= movie.title %></p></a>
          <p><%= movie.rating %></p>
          <hr>
        <% }); %>
      </div>
  </div>
  </body>
</html>